<form 
    hx-put="/trips/{{ trips.id }}/edit"
    hx-target="#trip-{{ trips.id }}"
    hx-swap="innerHTML"
>
  <label>Name:
  <input type="text" name="name" value="{{ trips.name }}" required>
  </label>

  <label>Location:
  <input type="text" name="location" value="{{ trips.location }}" required>
  </label>

  <label>Date:
  <input type="date" name="date" value="{{ trips.date }}" required>
  </label>

  <label for="leader">Leader:</label>
  <select name="leader" id="leader">
    {% for member in members %}
      <option value="{{ member.id }}" 
        {% if trips.leader == member.id %} selected {% endif %}>
        {{ member.name }}
      </option>
    {% endfor %}
  </select>


  <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty">
      <option value="Easy" {% if trips.grade == "Easy" %}selected{% endif %}>Easy</option>

      <option value="Moderate" {% if trips.grade == "Moderate" %}selected{% endif %}>Moderate</option>

      <option value="Challenging" {% if trips.grade == "Challenging" %}selected{% endif %}>Challenging</option>
    </select>

<label>summary:
  <textarea name="summary" rows="4" cols="50">{{ trips.summary }}</textarea>
</label>

  <button type="submit">Save</button>
</form>
