<strong>{{ member.name }}</strong>
<p>{{ member.vehicle }}</p>
<button hx-get="/members/{{ member.id }}/edit" hx-target="#member-{{ member.id }}" hx-swap="innerHTML">Edit</button>


<a href="/members/{{ member.id }}/delete" role="button">Delete</a>