{#=====================================================
  admin page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Admin

{% endblock %}


{% block content %}

    <h1>Admin</h1>

    <div class="tab-bar">
        <a href="/admin/settings" class="tab">settings</a>
        <a href="/admin/trips" class="tab active">trips</a>
        <a href="/admin/members" class="tab">Members</a>
    </div>  


{% endblock %}

