{#=====================================================
  admin page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Admin

{% endblock %}


{% block content %}

 <h1>Admin</h1>

<div class="tab-bar">
    <a href="/admin/settings" class="tab">settings</a>
    <a href="/admin/trips" class="tab">trips</a>
    <a href="/admin/members" class="tab active">Members</a>
    
</div>  

<section id="members-list">
    <header>
    <br>
        <h2>Member Management</h2>
        <p>Add, edit, and manage current members</p>
    </header>

    <form action="/admin/members" method="get">
        <input type="text" name="q" value="{{ search_text }}" placeholder="Search members...">
        <button type="submit">Search</button>
    </form>

    {% if members %}
        {% for member in members %}
            <article id="member-{{ member.id }}">
                {% include 'components/member_details.jinja' %}
            </article>
        {% endfor %}
    {% else %}
        <p>No members found.</p>
    {% endif %}

</section>



{% endblock %}
