{#=====================================================
  admin page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Admin

{% endblock %}


{% block content %}

    <h1>Admin</h1>

    <div class="tab-bar">
        <a href="/admin/settings" class="tab">settings</a>
        <a href="/admin/trips" class="tab active">trips</a>
        <a href="/admin/members" class="tab">Members</a>
    </div>  

    <section id="trips-list">
    <header>
        <br>
        <h2>Trip Management</h2>
        <p>Create, edit, and manage club trips</p>

        {% for member in members %}
            <p>{{ member.name }}</p>
        {% endfor %}
    </header>

    <form action="/admin/trips" method="get">
        <input type="text" name="q" value="{{ search_text }}" placeholder="Search trips...">
        <button type="submit">Search</button>
    </form>

    {% if not no_results %}
        <h3>Upcoming Trips</h3>
        {% if future_trips %}
            {% for trips in future_trips %}
                <article id="trip-{{ trips.id }}">
                    {% include 'components/admin_trip_details.jinja' %}
                </article>
            {% endfor %}
        {% else %}
            <p>No upcoming trips found  matching "{{ search_text }}"</p>
        {% endif %}

        <h3>Past Trips</h3>
        {% if past_trips %}
            {% for trips in past_trips %}
                <article id="trip-{{ trips.id }}">
                    {% include 'components/admin_trip_details.jinja' %}
                </article>
            {% endfor %}
        {% else %}
            <p>No past trips found  matching "{{ search_text }}"</p>
        {% endif %}
    {% else %}
        <p>No trips found matching "{{ search_text }}".</p>
    {% endif %}
</section>


{% endblock %}

