{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Nelson 4x4 Club

{% endblock %}


{% block content %}

    <h1>Nelson 4wd Club</h1>

    <p>Join us for exciting off-road adventures across the top
 of the South Island. From beginners to experts, 
everyone is welcome in our friendly 
community of 4WD enthusiasts.</p>

<section id="homeRecent">
<h2>Recent Adventures</h2>

</section>



{% endblock %}

