{#=====================================================
  User Login page
  - Form for logging in
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Login

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Nelson 4wd Club</h2>
            <p>Sign in to access features</p>
        </header>

        <form action="/login-user" method="POST">

            <input
                type="text"
                name="email"
                placeholder="Example@Example.com"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button>Login</button>

        </form>

        <footer>
            <a href="mailto:{{ settings.contact_email }}?subject=New%20member.">Contact to join</a>
        </footer>

    </article>

{% endblock %}

