{% extends 'pages/base.jinja' %}


{% block title %}

Past trips

{% endblock %}


{% block content %}
<page id="past_trips">
<hr class="header-line">
    <h1>Past Trips</h1>

    {% for trip in past_trips %}
    <article>
        <header>
            <div class="header-left">
                <h2>{{ trip.name }}</h2>
                <p id="location">📍{{ trip.location }}</p>
            </div>

            <div class="header-right">
                <p id="date">{{ trip.date|nicedate }}</p>
                <p>Led by {{ trip.leader_name }}</p>
            </div>
        </header>


       
        <p>{{ trip.summary }}</p>

        {% if session.member_id %}
        <p>attendees</p>
        <ul>
            {% for attendee in trip.attendees %}
            <li>{{ attendee.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        {% for photo in trip.photos %}
        <div>
            <img src="data:{{ photo.image_type }};base64,{{ photo.image_data | b64encode }}" width="200">
            <small>{{ photo.credits }}</small>
        </div>
        {% endfor %}
    </article>
    {% endfor %}
</page>

{% endblock %}