{% extends 'pages/base.jinja' %}


{% block title %}

Upcoming Trips

{% endblock %}


{% block content %}

<h1>Upcoming Trips</h1>
<h2>Reserve a spot on a trip</h2>

<div class="trip-card">
    <h3>Available trips</h3>
    <p>click on a trip to view full details
    <p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Difficulty</th>
                <th>Join</th>
            </tr>
        </thead>
        <tbody>

            {% for trip in upcoming_trips %}
            <tr>
                <td>
                    <a href="#" hx-get="/trip/{{trip.id}}" hx-target="#trip-info" hx-swap="outerHTML" hx-trigger="click"
                        onclick="openOverlay(); setTimeout(() => {loadMap(`{{ trip.meeting }}`, `{{ trip.location }}`)}, 50);">
                        {{ trip.name }}
                    </a>

                </td>
                <td>{{ trip.location }}</td>
                <td>{{ trip.date }}</td>
                <td>{{ trip.grade }}</td>
                <td>
                    <form method="post"
                        action="{% if trip.id in joined_trip_ids %}/unjoin-trip/{{ trip.id }}{% else %}/join-trip/{{ trip.id }}{% endif %}">
                        <button type="submit">
                            {% if trip.id in joined_trip_ids %}Leave{% else %}Join{% endif %}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="upcoming-extras">
    <article id="What-to-bring">
        <header>
            <h2>What to bring</h2>
        </header>
        <ul>
            <li>Recovery gear (snatch strap, shackles, bow shackles)</li>
            <li>Winch or come-along (optional)</li>
            <li>First aid kit</li>
            <li>UHF radio (channel 20)</li>
            <li>Spare tire and repair kit</li>
            <li>food and water</li>
            <li>Warm clothing and rain gear</li>
            <li>Torch/headlamp with spare batteries</li>
        </ul>
    </article>

    <article id="guidelines">
        <header>
            <h2>Guidlines</h2>
        </header>
        <ul>
            <li>All participants must have a 4WD vehicle in good working condition.</li>
            <li>Drivers should have basic off-road driving skills and knowledge of vehicle recovery techniques.</li>
            <li>Participants must carry the required gear and equipment listed above.</li>
            <li>Follow the instructions of the trip leader at all times.</li>
            <li>Respect the environment and adhere to the principles of Leave No Trace.</li>
            <li>Never loose sight of vehicle behindt you.</li>
            <li>Ensure your vehicle is fueled and serviced before the trip.</li>
            <li>Inform the trip leader of any medical conditions or special requirements.</li>

        </ul>
    </article>
</div>
{% endblock %}