/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/
*{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

/* use like: <p class="multiline-ellipsis" style="--lines:3">...text...</p> */
.multiline-ellipsis {
  --lines: 3;                    /* default number of lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  overflow: hidden;
  text-overflow: ellipsis;
  /* keep these so it behaves like normal paragraph */
  white-space: normal;
  line-height: 1.4;              /* important if you use height fallbacks */
}

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }


/* Home -------------------------------------------- */

.tab-bar {
    display: flex;
    background: #d9d9d9; /* light grey bar */
    border-radius: 9999px;
    width: 100%;
    padding: 4px; /* this creates the gap between bar and green background */
    box-sizing: border-box;
  }
  
  .tab {
    flex: 1 0 33.33%; /* 3 equal sections */
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
    color:#444;
    font-size: 0.9rem;
    border-radius: 9999px; /* needed for rounded green background */
    transition: background 0.25s ease, color 0.25s ease;
  }
  
  .tab:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .tab.active {
    background: #ffffff; /* green background */
    color: #000; /* text color */
    font-weight: bold;
  }
  
  
  .leaflet-marker-icon {
    background: none !important;   /* remove any background */
    border: none !important;       /* remove any border */
    box-shadow: none !important;   /* remove any shadow */
    padding: 0 !important;         /* remove padding */
  }
  
  #map a[role="button"]{
    padding: unset;
  }
/* ***************************************************************************************************************** */
/* Header styling */
body header, body main {
  padding: 0;
}
.header-line {
  border: 0;
  height: 2px;                /* thickness of the line */
  background: #16A34A;        /* line color */
  margin: 0 -10rem; /* negative horizontal margin cancels body padding */
  width: calc(100% + 20rem); /* optional: extend full width */      
}

header li strong a{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

/* ***************************************************************************************************************** */
/* Hero styling */
#Hero {
  text-align: center;
  background: linear-gradient(120deg, rgba(22,101,52,1) 0%, #16A34A 100%);
  height: 20rem;
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* center vertically */
  margin: 0 -10rem; /* negative horizontal margin cancels body padding */
  width: calc(100% + 20rem); /* optional: extend full width */
}

#Hero h1{
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}

#Hero p{
    color: white;
    font-size: 1.5rem;
    margin: 0 12rem;
}
/* ***************************************************************************************************************** */
/* recent adventures home p */
/* #homeRecent{ */



h2{
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#extra-info{
  font-size: 0.8rem;
  background-color: #F0FDF4;
  border: #b6f7cb solid 1px;
  margin: 0;
  
}
#extra-info p{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #166534;
}
/* ***************************************************************************************************************** */
/* Recent trip styling */

#homeRecent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

#homeRecent article{
  display: block;
  text-align: left;
  padding: 20px;
  width: 40%;
  margin: 1rem;
  border: #E7E5E4 solid 1px;
  border-radius: 10px;
}
#homeRecent article header{
  height: 15rem;          /* or whatever height fits your design */
  overflow: hidden;       /* hides tall parts of the image */
  position: relative;
}

#homeRecent img{
  width: 100%;
  height: 100%;
  object-fit: cover;       /* crop instead of stretch */
  object-position: center; /* center the crop */
  display: block;
  border-radius: 8px 8px 0 0;
}

#homeRecent h3{
  color: #166534;
  margin-bottom: 0;
}
#location{
  color: #57534e;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
#date{
  color: #78716c;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

/* ***************************************************************************************************************** */

/* Join the club Styling */
#Join_the_club{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 2rem;
  background-color: #159545;
  border-radius: 1rem;
  
}

#Join_the_club h2{
    color: white;
    font-size: 2.25rem;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
  
}

#Join_the_club p{
    color: white;
    font-size: 22px;
    margin: 0 5;
}

#features{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

#feature{
  display: block;
  text-align: left;
  background: #2D9F57; /* green background */
  color: white; /* white text */
  border-radius: 10px; /* rounded corners */
  padding: 20px;
  min-width: 45%;
  margin: 1rem;
  border: #58B47A solid 1px;
}

#feature h3, #feature li{
  color: white;
  list-style: disc;
}

/* ***************************************************************************************************************** */
/* PAST TRIPS PAGE */
/* ***************************************************************************************************************** */
page#past_trips h1{
  margin-top: 0.5rem;
  font-size: 2rem;

}

#past_trips article{
  display: block;
}

#past_trips article header{
  padding: 1rem;
  background-color: #f0fdf4;
  display: flex;
  justify-content: space-between;  /* name/location on left, date/leader on right */
  align-items: center;             /* vertically center them */
  height: auto;                    /* remove the fixed 15rem height */
  overflow: visible;               /* so text isn't cut off */
  position: relative;
}
#past_trips article header h2{
  color: #166534;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
#past_trips article header *{
  margin:0;
}

#past_trips li{
  list-style: disc;
}

.header-left p,
.header-right p {
  margin: 0.25rem 0;
}

.header-right {
  text-align: right;
}

#past_trips #photos{
  display: flex;
  justify-content: flex-end; /* push to the right */
  align-items: center;       /* vertically align */
  flex-wrap: nowrap;         /* prevent wrapping */
  margin: 2rem 0;
  gap: 1rem; /* space between images */
}

#past_trips img{
  max-width: 100%;
  border-radius: 0.5rem;
}

.trip-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 1rem 0 2rem;
}

.trip-text {
  flex: 1;
}

.trip-photos {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  max-width: 50%;
}

.photo {
  position: relative;
  width: 45%;
}

.photo img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  object-fit: cover;
  /* max-height: 20rem; */
  aspect-ratio: 1;
  position: relative;
}

.photo input[type="checkbox"] {
  display: none;
}

.photo label {
  user-select: none;
  margin: 0;
}

.photo label:hover {
  cursor: zoom-in;
}

.photo:has(input[type="checkbox"]:checked) label:hover {
  cursor: zoom-out;
}

.photo:has(input[type="checkbox"]:checked) img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 10vh 10vw;
  aspect-ratio: auto;
  object-fit:contain;
  z-index: 1000;
}

.photo:has(input[type="checkbox"]:checked)::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #000c;
  z-index: 999;
} 

.photo .credit {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.7em;
  color: white;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
}
/* ***************************************************************************************************************** */
/* UPCOMING TRIPS PAGE */
/* ***************************************************************************************************************** */
#upcoming-title{
  margin-top: 1rem;
  font-size: 2rem;
  color: #000;
}

.trip-card{
  border-radius: 0.5rem;
  border: #d9d9d9 solid 1px;
}

.trip-card header{
  padding: 0.75rem;
  background-color: #f0fdf4;
}

.trip-card header h3{
  color: #166534;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.trip-card header p{
  margin:0;
  color: #78716c;
  font-size: 0.75rem;
}

.trip-card th{
  text-align: left;
  padding: 0.5rem;
  border-bottom: #d9d9d9 solid 1px;
  background-color: #f9f9f9;
}

.trip-card button{
  background-color: #15803d;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin:0.5rem 0rem;

}

#upcoming-extras{
  display: flex;
  justify-content: space-between; /* space between them */
  align-items: flex-start;        /* align to top */
  flex-wrap: wrap;                /* allows wrapping on small screens */
  gap: 0rem;     
  margin-top: 2rem;
}

#guidelines,
#What-to-bring {
  width: 49%;
  display: flex;
  flex-direction: column;
  border: #d9d9d9 solid 1px;
}

#guidelines header{background-color: #f0fdf4;}
#guidelines h4 {color:#166534; padding: 0.75rem; margin:0;}
#What-to-bring h4{color: #92400e; padding: 0.75rem; margin:0;}
#What-to-bring header{background-color: #FFFBEB;}

#upcoming-extras li{
  list-style: disc;
  font-size: 0.75rem;
}
/* ***************************************************************************************************************** */
/* UPCOMING TRIPS OVERLAY */
/* ***************************************************************************************************************** */
#overlay-content{
  border-radius: 0.5rem;
}

#trip-info h1{
  font-size: 2rem;
  color: #166534;
}

#overlay {
  position: relative; /* makes the close button position relative to this */
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.close-btn:hover {
  color: red;
  cursor: pointer;
}

#trip-info article{
  border: #d9d9d9 solid 1px;
  border-radius: 0.5rem;
}

#trip-info h3{
  font-size: 1.25rem;
}

#trip-info #participant{
  background-color: #fafaf9;
  border: none;
  box-shadow: none;
  padding: 1rem;
}
#trip-info #participant h4{
  margin: 0;
  color: #0c0a09;
}

#trip-info #participant p{
  margin: 0;
  color: #57534e;
}
